@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove focus rings from all inputs */
input:focus, textarea:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
  ring: none !important;
}
